.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
.site-wrapper {
  width: 1024px;
  margin: 0 auto;
}
.ui.card {
  width: 100%;
}
.App-link {
  color: #61dafb;
}
.ui.compact.raised.segment {
  display: flex;
}
.add_friend {
  display: flex;
  justify-content: center;
}
